<!DOCTYPE html>
<html>

<head>
    <title>
        Inventory
    </title>
    <link rel="stylesheet" href="/default.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/category-view.css">
    <link rel="stylesheet" href="/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div id="category-container">
                <h2>
                    <%=category%>
                </h2>
                <div id="category-items">
                    <%if(items) {%>
                        <%items.forEach(function(item){ %>
                            <div class="item">
                                <div class="name-quantity">
                                    <p>Name: <span class="name">
                                            <%=item.itemName%>
                                        </span></p>
                                </div>
                                <div class="buttons">
                                    <button class="details-button"> <a
                                            href="/items/<%=item.itemId%>-<%=item.categoryId%>">Details</a></button>
                                    <button class="delete-button"><a
                                            href="/items/<%=item.itemId%>-<%=item.categoryId%>/delete">Delete</a></button>
                                </div>
                            </div>
                            <% })%>
                                <%} %>
                </div>

                <button><a href="/items/create">Create new item</a></button>
            </div>
        </main>

</html>